@model ECOMMERCE_NEXOSOFT.Models.Producto

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Producto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
            <input type="hidden" asp-for="IdProducto" />
            <div class="form-group">
                <label asp-for="CodProducto" class="control-label"></label>
                <input asp-for="CodProducto" class="form-control" />
                <span asp-validation-for="CodProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCategoria" class="control-label"></label>
                <select asp-for="IdCategoria" class="form-control">
                    <option value="">Seleccione una categoría</option>
                    @foreach (var categoria in ViewBag.Categorias)
                    {
                        <option value="@categoria.IdCategoria">@categoria.NombreCategoria</option>
                    }
                </select>
                <span asp-validation-for="IdCategoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreProducto" class="control-label"></label>
                <input asp-for="NombreProducto" class="form-control" />
                <span asp-validation-for="NombreProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescripcionCorta" class="control-label"></label>
                <input asp-for="DescripcionCorta" class="form-control" />
                <span asp-validation-for="DescripcionCorta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SkuProducto" class="control-label"></label>
                <input asp-for="SkuProducto" class="form-control" />
                <span asp-validation-for="SkuProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoBarrasProducto" class="control-label"></label>
                <input asp-for="CodigoBarrasProducto" class="form-control" />
                <span asp-validation-for="CodigoBarrasProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnidadMedidaProducto" class="control-label"></label>
                <select asp-for="UnidadMedidaProducto" class="form-control">
                    <option value="">Seleccione una unidad</option>
                    @foreach (var unidad in ViewBag.UnidadesMedida)
                    {
                        <option value="@unidad">@unidad</option>
                    }
                </select>
                <span asp-validation-for="UnidadMedidaProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MarcaProducto" class="control-label"></label>
                <input asp-for="MarcaProducto" class="form-control" />
                <span asp-validation-for="MarcaProducto" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Favorito" /> @Html.DisplayNameFor(model => model.Favorito)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="VisiblePublico" /> @Html.DisplayNameFor(model => model.VisiblePublico)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="PrecioVentaProducto" class="control-label"></label>
                <input asp-for="PrecioVentaProducto" class="form-control" />
                <span asp-validation-for="PrecioVentaProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
